{% extends 'base.html.twig' %}

{% block title %}
  Edit Item
{% endblock %}

{% block body %}
  <h1>Edit Item</h1>

  {{ include('back/item/_form.html.twig', { button_label: 'Update' }) }}

  <a href="{{ path('app_back_item_list') }}"><button type="button" class="btn btn-sm btn-primary mx-1 mb-2">Back to list</button></a>

  {{ include('back/item/_delete_form.html.twig') }}
{% endblock %}
