{% extends 'base.html.twig' %}

{% block title %}
  Edit User
{% endblock %}

{% block body %}
<div class="container-fluid">
  <h1>Edit User</h1>

  {{ include('back/user/_form.html.twig', { button_label: 'Update' }) }}

  {{ include('back/user/_delete_form.html.twig') }}

  <a href="{{ path('app_back_user_list') }}"><button type="button" class="btn btn-sm btn-primary mx-1 mb-2 bi bi-arrow-left-square"> Back to list</button></a>
  </div>
{% endblock %}
